In [138]:
import pandas as pd

ssp = pd.read_csv('0225_aza_ssp.csv')
ssp.head

<bound method NDFrame.head of     program_type    taxon                 common_name    genus_name  \
0            SSP   Mammal                    Aardvark   Orycteropus
1            SSP   Mammal                       Addax         Addax
2            SSP   Mammal           Agouti, Brazilian    Dasyprocta
3            SSP  Reptile          Alligator, Chinese     Alligator
4            SSP   Mammal             Anteater, Giant  Myrmecophaga
..           ...      ...                         ...           ...
280          SSP   Mammal                 Wolf, Maned    Chrysocyon
281          SSP     Bird           Woodhoopoe, Green   Phoeniculus
282          SSP   Mammal              Zebra, Grevy's         Equus
283          SSP   Mammal  Zebra, Hartmann's Mountain        Equus
284          SSP   Mammal               Zebra, Plains         Equus

      species_name          scientific_name  subspecies
0             afer         Orycteropus afer         NaN
1    nasomaculatus      Addax nasomaculatus         NaN
2         leporina      Dasyprocta leporina         NaN
3         sinensis       Alligator sinensis         NaN
4       tridactyla  Myrmecophaga tridactyla         NaN
..             ...                      ...         ...
280     brachyurus    Chrysocyon brachyurus         NaN
281      purpureus    Phoeniculus purpureus         NaN
282         grevyi             Equus grevyi         NaN
283          zebra              Equus zebra  hartmannae
284         quagga             Equus quagga         NaN

[285 rows x 7 columns]>

In [139]:
redlist = pd.read_csv('0225_iucn_assessments.csv')
ssp.head

<bound method NDFrame.head of     program_type    taxon                 common_name    genus_name  \
0            SSP   Mammal                    Aardvark   Orycteropus
1            SSP   Mammal                       Addax         Addax
2            SSP   Mammal           Agouti, Brazilian    Dasyprocta
3            SSP  Reptile          Alligator, Chinese     Alligator
4            SSP   Mammal             Anteater, Giant  Myrmecophaga
..           ...      ...                         ...           ...
280          SSP   Mammal                 Wolf, Maned    Chrysocyon
281          SSP     Bird           Woodhoopoe, Green   Phoeniculus
282          SSP   Mammal              Zebra, Grevy's         Equus
283          SSP   Mammal  Zebra, Hartmann's Mountain        Equus
284          SSP   Mammal               Zebra, Plains         Equus

      species_name          scientific_name  subspecies
0             afer         Orycteropus afer         NaN
1    nasomaculatus      Addax nasomaculatus         NaN
2         leporina      Dasyprocta leporina         NaN
3         sinensis       Alligator sinensis         NaN
4       tridactyla  Myrmecophaga tridactyla         NaN
..             ...                      ...         ...
280     brachyurus    Chrysocyon brachyurus         NaN
281      purpureus    Phoeniculus purpureus         NaN
282         grevyi             Equus grevyi         NaN
283          zebra              Equus zebra  hartmannae
284         quagga             Equus quagga         NaN

[285 rows x 7 columns]>

In [140]:
print(redlist.dtypes, ssp.dtypes)

taxon               object
common_name         object
genus_name          object
species_name        object
scientific_name     object
assessment          object
population_trend    object
assessment_scope    object
dtype: object program_type       object
taxon              object
common_name        object
genus_name         object
species_name       object
scientific_name    object
subspecies         object
dtype: object

In [141]:
redlist = redlist.set_index('scientific_name')
ssp = ssp.set_index('scientific_name')

ssp_vs_redlist = ssp.join(redlist, lsuffix='_SSP', rsuffix='_RL')
ssp_vs_redlist.head()

,program_type,taxon_SSP,common_name_SSP,genus_name_SSP,species_name_SSP,subspecies,taxon_RL,common_name_RL,genus_name_RL,species_name_RL,assessment,population_trend,assessment_scope
scientific_name,,,,,,,,,,,,,
Orycteropus afer,SSP,Mammal,Aardvark,Orycteropus,afer,NaN,Mammal,Aardvark,Orycteropus,afer,LC,Unknown,Global
Addax nasomaculatus,SSP,Mammal,Addax,Addax,nasomaculatus,NaN,Mammal,Addax,Addax,nasomaculatus,CR,Decreasing,Global
Dasyprocta leporina,SSP,Mammal,"Agouti, Brazilian",Dasyprocta,leporina,NaN,Mammal,"Agouti, Brazilian",Dasyprocta,leporina,LC,Stable,Global
Alligator sinensis,SSP,Reptile,"Alligator, Chinese",Alligator,sinensis,NaN,Reptile,"Alligator, Chinese",Alligator,sinensis,CR,Stable,Global
Myrmecophaga tridactyla,SSP,Mammal,"Anteater, Giant",Myrmecophaga,tridactyla,NaN,Mammal,"Anteater, Giant",Myrmecophaga,tridactyla,VU,Decreasing,Global

In [142]:
ssp_vs_redlist.shape

(301, 13)

In [143]:
ssp_vs_redlist.drop(
    ['taxon_SSP',
     'common_name_SSP',
     'genus_name_SSP',
     'species_name_SSP', 
     'subspecies', 
     'taxon_RL',
     'common_name_RL',
     'genus_name_RL',
     'species_name_RL',
     'assessment_scope'],
    axis=1, inplace=True)

ssp_vs_redlist.head()

                        program_type assessment population_trend
scientific_name
Orycteropus afer                 SSP         LC          Unknown
Addax nasomaculatus              SSP         CR       Decreasing
Dasyprocta leporina              SSP         LC           Stable
Alligator sinensis               SSP         CR           Stable
Myrmecophaga tridactyla          SSP         VU       Decreasing

In [144]:
print(ssp_vs_redlist.isnull().any())

program_type        False
assessment          False
population_trend    False
dtype: bool